@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /**/font-family: 'Montserrat', sans-serif;
}



body{
  padding: 0 10px;
background-image:linear-gradient(to white);

}
.wrapper{
  max-width: 500px;
  width: 100%;
  background: #fff;
  margin: 20px auto;
  box-shadow: 1px 1px 2px rgba(1,0,0,0.125);
  padding: 30px;

}

.wrapper .title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: black;
  text-transform: uppercase;
  text-align: center;
    background: #fff;
}

.wrapper .form{
  width: 100%;
  background: #fff;
}

.wrapper .form .inputfield{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
    background: #fff;

}

.wrapper .form .inputfield label{
   width: 200px;
   color: black;
   margin-right: 10px;
  font-size: 14px;
  background: #fff;
}

.wrapper .form .inputfield .input,
.wrapper .form .inputfield .textarea{
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
    background: #fff;

}

.wrapper .form .inputfield .textarea{
  width: 100%;
  height: 125px;
  resize: none;

}

.wrapper .form .inputfield .custom_select{
  position: relative;
  width: 100%;
  height: 37px;

}





.wrapper .form .inputfield .input:focus,
.wrapper .form .inputfield .textarea:focus,
.wrapper .form .inputfield .custom_select select:focus{
  border: 1px solid black;
}

.wrapper .form .inputfield p{
   font-size: 14px;
   color: #5f1782;
}


.wrapper .form .inputfield:last-child{
  margin-bottom: 0;
}


.wrapper .form .inputfield p{
  font-size: 14px;
  color: #5f1782;

}


